---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import logo from "../../public/cmd-logo.png";
---

<Layout title="CMDLWD">
	<main>
		<div class="image-container">
			<Image src={logo} alt="CMD LOGO" />
		</div>

		<ul role="list" class="link-card-grid">
			<Card
				href="https://cmdwld.com/"
				title="Our team"
				body="Check out our team"
			/>
			<Card
				href="https://blog.cmdlwd.nl"
				title="Stories"
				body="Read the stories of our students"
			/>
			<Card
				href="mailto:gerald.kooistra@nhlstenden.com"
				title="Ask us anything"
				body="No really, anything"
			/>
			<Card
				href="https://events.cmdlwd.nl"
				title="Our events"
				body="We like to be active"
			/>
		</ul>
	</main>
</Layout>

<style>
	.image-container {
		display: flex;
		justify-content: center;
		margin-bottom: 1rem;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: rgb(52, 52, 52);
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
