---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CMDLWD" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>CMD LWD</title>
		<meta name="description" content="Design school Leeuwarden" />
		<meta property="og:url" content="https://cmdlwd.nl" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="CMD LWD" />
		<meta property="og:description" content="Design school Leeuwarden" />
		<meta property="og:image" content="/og-cmd.png" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="cmdlwd.nl" />
		<meta property="twitter:url" content="https://cmdlwd.nl" />
		<meta name="twitter:title" content="CMD LWD" />
		<meta name="twitter:description" content="Design school Leeuwarden" />
		<meta name="twitter:image" content="/og-cmd.png" />
		<meta property="og:image" content="/og-cmd.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #ff49b0;
	}
</style>
